.dashboard {
  margin-top: 4%;
}

.primaryButton {
  background-color: #262626;
  color: white;
  padding-inline: 20px;
  padding-block: 10px;
  font-weight: 300;
}

.primaryButton:hover {
  background-color: #262626;
  color: white;
  font-weight: 300;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease-in-out;
}

.documentationCard:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
}

@media only screen and (max-width: 600px) {
  .dashboard {
    width: 100% !important;
  }
}
