.loginBox {
  margin-top: 5%;
}

.primaryButton {
  background-color: #00713a;
  color: white;
  font-weight: 400;
  border-radius: 0;
  border-bottom-width: 2px;
  border-bottom-color: #262626;
}

.primaryButton:hover {
  background-color: #005e31;
  color: white;
  font-weight: 400;
}
