.dashboard {
  margin-top: 4%;
}

.primaryButton {
  background-color: #00713a;
  color: white;
  font-weight: 400;
  border-radius: 0;
  border-bottom-width: 2px;
  border-bottom-color: #262626;
}

.primaryButton:hover {
  background-color: #005e31;
  color: white;
  font-weight: 400;
}

.dangerButton {
  background-color: #dc3545;
  color: white;
  padding-inline: 20px;
  padding-block: 10px;
  font-weight: 300;
}

.dangerButton:hover {
  background-color: #dc3545;
  color: white;
  font-weight: 300;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease-in-out;
}

.secondaryButton {
  background-color: white;
  border-width: 1px;
  border-color: #262626;
  padding-inline: 20px;
  padding-block: 10px;
  font-weight: 300;
}

.secondaryButton:hover {
  background-color: white;
  border-width: 1px;
  border-color: #262626;
  font-weight: 300;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease-in-out;
}

@media only screen and (max-width: 600px) {
  .dashboard {
    width: 100% !important;
  }
}
